.live-instagram-feed {
  background-color: whitesmoke;
  padding: 1em 0;
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;

  h6 {
    margin-left: 1rem;
    color: $color-grey;
  }

  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .photo {
    &:before {
      display: block;
      content: "";
      padding-bottom: 100%;
    }
    flex: 1 30%;
    position: relative;
    background-color: #efefef;
    margin: 2px;

    &:hover {
      a {
        opacity: 1;
      }
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  a {
    opacity: 0;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.5);

    &:before {
      content: url("/img/instagram_white.svg");
      position: absolute;
      width: 2em;
      height: 2em;
      opacity: 0.8;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (min-width: 60em) {
  .live-instagram-feed {
    margin: 0 -4em;

    h6 {
      margin-left: 5em;
      margin-bottom: .25em;
      margin-top: 1em;
      font-size: 0.825em;
    }

    .photo {
      margin: 1em;
    }
  }
}