@font-face {
  font-family: "Lemon/Milk light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk light Regular"),
    url("/fonts/LemonMilklight.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, li, label, input {
  font-family: 'Montserrat', sans-serif;
}