img {
  display: block;
  width: 100%;
  height: auto;
}

body, html {
  width: 100%;
  height: 100%;
  min-width: 320px;
}

body {
  background-color: whitesmoke;
}

main {
  padding: 1em 1em 4em;
  max-width: 60em;
  margin: 0 auto;
  background-color: $color-white;
}

section {
  margin: 4em 0;

  &:first-of-type {
    margin-top: 2em;
  }
}

ul {
  padding-left: 2em;
  margin-bottom: 2em;

  li {
    margin-bottom: .5em;
  }
}

figure {
  margin: 2em 0;

  figcaption {
    text-align: center;
    padding: .5em;
    color: $color-grey;
  }
}

@media (min-width: 37.5em) {
  figure {
    margin: 2em;
  }
}

@media (min-width: 60em) {
  main {
    padding-left: 3em; padding-right: 3em;
  }

  section {
    margin: 6em 0;

    &:first-of-type {
      margin-top: 4em;
    }
  }
}