{% extends 'layouts/default.html' %}
{% from '../components/header/top-banner.html' import topBannerImg %}
{% from '../components/instagram/instagram.html' import instagramFeed %}

{% block aboveHeader %}
  {% call topBannerImg('/img/Logo_HairByCher_White.svg', 'Excellent hair care', 'small')%}
  {% endcall %}
{% endblock %}

{% block content %}

<section>
  <p>Hair by Cher is gespecialiseerd in het verzorgen van uw haar op een manier dat het perfect bij uw uitstraling en persoonlijkheid past. Wij staan vooral bekend om onze <a href="/behandelingen/#weave">Weave</a>, <a href="/behandelingen/#interlock">Interlock</a> en <a href="/behandelingen/#keratine">Keratine</a>.</p>
</section>

{% call instagramFeed(9) %}
{% endcall %}

</script>
<section>
  <h2 class="center">Afspraak maken?</h2>
  <p>Neem dan contact op, geef uw gewenste datum en tijdstip door.</p>

  <a href="tel:+31621917818" class="cta">
    <img src="/img/phone.svg" alt="icoon telefoon">
    Bel
    <span>(06 21 91 78 18)</span>
  </a>
</section>

{% endblock %}