{% extends 'layouts/default.html' %}

{% block content %}
<section>
  <h1>Producten</h1>
  <p>
    Bij Hair by Cher krijgt u advies over verschillende haarproducten. Wij raden
    u dan bijvoorbeeld aan welke styling- en haarverzorgingsproducten het beste
    bij uw haartype passen. Verder bieden wij u producten aan die speciaal te
    gebruiken zijn in combinatie met hairextensions.
  </p>

  <figure>
    <img src="/img/Img_Producten.jpg" alt="Producten: Keune, Balmain, Moroccan Oil, Redken.">
    <figcaption>Producten die wij gebruiken: Keune, Balmain, Moroccan Oil & Redken.</figcaption>
  </figure>

</section>
<section>
  <h2 class="center">Meer weten?</h2>
  <p>Maak een afspraak:</p>

  <a href="tel:+31621917818" class="cta">
    <img src="/img/phone.svg" alt="icoon telefoon">
    Bel
    <span>(06 21 91 78 18)</span>
  </a>
</section>
{% endblock %}