{% macro header(data) %}
<input type="checkbox" id="menu-toggle">

<header class="responsive-header-no-js navigation">
  <div class="inner">
  <div class="top">
    <a class="header-logo" href="/">
      <img src="/img/Clover_HairByCher_White.svg" alt="Logo: klavertjevier">
    </a>

    <label for="menu-toggle" id="no-js-btn-label">
      <button class="no-js-btn open">Menu</button>
      <button class="no-js-btn close">sluiten</button>
    </label>
  </div>

  <nav class="menu">
    <div class="menu-item">
      <a href="/"><span>Home</span></a>
    </div>
    <div class="menu-item">
      <a href="/behandelingen"><span>behandelingen</span></a>
    </div>
    <div class="menu-item">
      <a href="/producten"><span>Producten</span></a>
    </div>
    <div class="menu-item">
      <a href="/prijzen"><span>Prijzen</span></a>
    </div>
    <div class="menu-item">
      <a href="/contact"><span>Contact</span></a>
    </div>
  </ul>
</div>
</header>
{% endmacro %}