$nav-links: 5;

header.navigation {
  background-color: $color-green;
  border-bottom: 2px solid $color-light-green;
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  z-index: 1;
  height: 3.625em;
  overflow: hidden;

  .inner {
    max-width: 60em;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .top {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5em;
    padding-bottom: 1em;
    z-index: 9;
    width: 100%;
  }

  .menu {
    padding: 1em 1em;
    width: 100%;
  }

  .menu-item {
    -webkit-transform: scale(1.15) translateY(-30px);
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);

    a {
      color: $color-white;
      text-transform: uppercase;
      display: block;
      text-decoration: none;
      letter-spacing: 1px;
      font-size: 1.25em;
      padding: 1em 0;
      border-bottom: 1px solid #6C968D;
    }

    @for $i from 1 through $nav-links {
      &:nth-child(#{$i}) {
        transition-delay: #{0.56 - ($i * 0.07)}s;
      }
    }
  }
}

.header-logo {
  img {
    height: 3.5em;
    width: auto;
    padding: 0.5em;
  }
}

button {
  color: $color-white;
  font-family: "Montserrat", sans-serif;
  border: 1px solid $color-white;
  border-radius: 0.25em;
  background-color: transparent;
  padding: 0.3em 0.75em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 200ms;
}

.responsive-header-no-js {
  label[for] {
    position: relative;

    &:after {
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background-color: transparent;
    }
  }

  .no-js-btn {
    pointer-events: fill;
  }
  .no-js-btn.open {
    display: block;
  }
  .no-js-btn.close {
    display: none;
  }
}

#menu-toggle {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

#menu-toggle:checked {
  & ~ header label .no-js-btn.open {
    display: none;
  }

  & ~ header label .no-js-btn.close {
    display: block;
  }

  & ~ header {
    height: unset;
    height: 7.625em + $nav-links * 4em;
  }

  & ~ header nav {
    display: block;
    height: auto;

    .menu-item {
      -webkit-transform: scale(1) translateY(0px);
      transform: scale(1) translateY(0px);
      opacity: 1;

      @for $i from 1 through $nav-links {
        &:nth-child(#{$i}) {
          transition-delay: #{0.07 * $i + 0.2}s;
        }
      }
    }
  }
}

@media (min-width: 24em) {
  header.navigation {
    .top {
      padding-right: 1em;
      padding-left: 0.5em;
    }
  }
}

@media (min-width: 50em) {
  header.navigation {
    display: flex;
    height: 3.625em !important;

    .inner {
      flex-wrap: nowrap;
    }

    label {
      display: none;
    }

    nav {
      flex: 1 1 100%;
      display: flex !important;
      flex-direction: row-reverse;
    }

    .menu-item {
      transition: none;
      transform: none;
      opacity: 1;
      margin: 0 0.5em;

      a {
        padding: 0;
      }
    }
  }

}