$nav-links: 5;

header.navigation {
  background-color: $color-green;
  border-bottom: 2px solid $color-light-green;
  -webkit-transition: all 0.5s ease-out, background 1s ease-out;
  transition: all 0.5s ease-out, background 1s ease-out;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  z-index: 1;
  height: 3.625em;
  overflow: hidden;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5em;
  }

  .menu {
    padding: 2em 1em;
  }

  .menu-item {
    -webkit-transform: scale(1.15) translateY(-30px);
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);

    a {
      color: $color-white;
      text-transform: uppercase;
      display: block;
      text-decoration: none;
      letter-spacing: 1px;
      font-size: 1.25em;
      padding: 1em 0;
      border-bottom: 1px solid #cfe6e0;
    }

    @for $i from 1 through $nav-links {
      &:nth-child(#{$i}) {
        transition-delay: #{0.56 - ($i * 0.07)}s;
      }
    }
  }
}

// nav {
//   display: none;
//   overflow: hidden;
//   padding: 1em;
//   background: $color-green;
//   width: 100%;
//   padding-bottom: 0.5em;
//   transition: all 0.3s ease-in;
//   height: 0px;

//   a {
//

//     span {
//       border-bottom: 1px solid $color-white;
//     }

//     &:last-of-type {
//       border-bottom: none;
//     }
//   }
// }

.header-logo {
  img {
    height: 3.5em;
    width: auto;
    padding: 0.5em;
  }
}

button {
  color: $color-white;
  font-family: "Montserrat", sans-serif;
  border: 1px solid $color-white;
  border-radius: 0.25em;
  background-color: transparent;
  padding: 0.3em 0.75em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 200ms;
}

.responsive-header-no-js {
  label[for] {
    position: relative;

    &:after {
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background-color: transparent;
    }
  }

  .no-js-btn {
    pointer-events: fill;
  }
  .no-js-btn.open {
    display: block;
  }
  .no-js-btn.close {
    display: none;
  }
}

#menu-toggle {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

#menu-toggle:checked {
  & ~ header label .no-js-btn.open {
    display: none;
  }

  & ~ header label .no-js-btn.close {
    display: block;
  }

  & ~ header {
    height: unset;
    height: 7.625em + $nav-links * 4em;
  }

  & ~ header nav {
    display: block;
    height: auto;

    .menu-item {
      -webkit-transform: scale(1) translateY(0px);
      transform: scale(1) translateY(0px);
      opacity: 1;

      @for $i from 1 through $nav-links {
        &:nth-child(#{$i}) {
          transition-delay: #{0.07 * $i + 0.2}s;
        }
      }
    }
  }
}
