{% macro footer() %}
<footer>
  <ul>
    <li class="icon phone"><a href="tel:+31621917818">06 21 91 78 18</a></li>
    <li class="icon at">
      <a href="mailto:info@hairbycher.nl">info@hairbycher.nl</a>
    </li>
    <li class="icon map-marker">
      <a
        target="_blank"
        href="https://www.google.com/maps/dir//Hair+by+Cher,+Karel+Doormanstraat+107+E,+1055+VD+Amsterdam/@52.3796598,4.8590886,17z/data=!4m16!1m6!3m5!1s0x0:0xa65c7993617dca06!2sHair+by+Cher!8m2!3d52.3796598!4d4.8612772!4m8!1m0!1m5!1m1!1s0x47c609dee81c6f15:0xa65c7993617dca06!2m2!1d4.8612773!2d52.3796598!3e2"
        >Karel Doormanstraat 107, 1055 VD Amsterdam</a
      >
    </li>
  </ul>
  <p class="center">
    Copyright 2020 Hair by Cher. <br />
    All rights reserverd.
  </p>
  <img class="logo" src="/img/Logo_HairByCher_White.svg" alt="Logo: Hair by Cher" />
</footer>
{% endmacro %}
