footer {
  background-color: $color-black;
  border-top: 2px solid $color-grey;
  padding: 3em 1em;
  color: $color-white;

  a {
    display: inline-block;
    color: $color-white;
    padding: 1em;
  }

  p {
    margin-top: 2em;
    color: $color-white;
    opacity: .75;
  }

  img {
    margin-top: 3em;
    width: 7em;
    margin: 0 auto;
  }

  li {
    font-size: 16px;
    a {
      font-size: inherit;
    }
  }
}

li.icon {
  position: relative;

  a {
    margin-left: 1em;
  }

  &:before {
    position: absolute;
    top: 1em;
    left: 0;
  }

  &.phone:before {
    content: url('/img/phone.svg');
  }
  &.at:before {
    content: url('/img/at.svg');
  }
  &.map-marker:before {
    content: url('/img/map_marker.svg');
  }
}

@media (min-width: 50em) {
  footer {
    ul {
      max-width: 50em;
      display: flex;
      justify-content: center;
      margin: 0 auto;

      li {
        flex: 1 1 100%;
        margin: 0 1em;
      }
    }
  }
}