{% macro footer() %}
<footer>
  <ul>
    <li class="icon phone"><a href="tel:+31621917818">06 21 91 78 18</a></li>
    <li class="icon at">
      <a href="mailto:info@hairbycher.nl">info@hairbycher.nl</a>
    </li>
    <li class="icon map-marker">
      <a
        target="_blank"
        href="https://www.google.com/maps/dir//Witte+de+Withstraat+80,+Amsterdam/"
        >Witte de Withstraat 80-bg, <br />1057 ZD Amsterdam</a
      >
    </li>
  </ul>
  <p class="center">
    Copyright 2020 Hair by Cher. <br />
    All rights reserverd.
  </p>
  <img class="logo" src="/img/Logo_HairByCher_White.svg" alt="Logo: Hair by Cher" />
</footer>
{% endmacro %}
