.top-banner {
  background-color: $color-green;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.small {
    padding: 4em;

    img {
      max-width: 12em;
      max-height: 12em;
      object-fit: contain;
    }
  }

  .title {
    font-weight: 400;
    font-size: 1em;
    color: $color-white;
    margin-top: 2em;
    letter-spacing: 2px;
  }
}