.tab-container {
  position: relative;
  border-bottom: 1px solid $color-light-green;
  background-color: $color-superlight;

  input[type=radio] {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .tab-content {
    padding: 2em 1em;

    & > div {
      display: none;
    }

    img {
      max-width: 20em;
      margin: auto;
    }
  }

  .tabs {
    display: flex;
    border-top: 1px solid $color-light-green;
    border-bottom: 1px solid $color-light-green;
    box-shadow: $shadow-subtle;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .tab {
    border-right: 1px solid $color-light-green;
    border-left: 1px solid $color-light-green;
    text-align: center;
    flex: 1 1 100%;
    padding: 1em;
    background-color: $color-green;
    color: $color-white;

    &:first-of-type {
      border-left: none;
    }

    &:last-of-type {
      border-right: none;
    }
  }

  .slider {
    padding-top: 1em;
    background-color: #00000010;
    box-shadow: inset 0 4px 14px #00000030;
  }

  #weave:checked ~ .tabs .tab[for=weave],
  #interlock:checked ~ .tabs .tab[for=interlock],
  #keratine:checked ~ .tabs .tab[for=keratine] {
    background-color: $color-white;
    color: $color-green;
  }

  #weave:checked ~ .tab-content .weave,
  #interlock:checked ~ .tab-content .interlock,
  #keratine:checked ~ .tab-content .keratine {
    display: block;
  }
}

@media (min-width: 60em) {
  .tab-container {
    .tab-content {
      padding: 3em;
    }
  }
}